
body{
    font-family: Helvetica;
}
/* main section */
.main-section{
    background-color: #F1F3FF;   
}
.navbar-nav{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
}
.navbar-toggler{
    display: none;
}
.main-seaction-text h1{
    font-size: 36px;
    font-weight: bold;
    font-size: 36px;
    line-height: 150%;
}
.main-seaction-text p{
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 20px;
}

/* sidebar */
.sidebar{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #FFFFFF;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
} 
.sidebar a{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 14px;
    color: black;
    display: block;
    transition: 0.3s;
}  
.sidebar a:hover {
    color: #f1f1f1;
} 
.sidebar .closebtn{
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
.openbtn{
    font-size: 14px;
    cursor: pointer;
    color: black;
    padding: 10px 15px;
    border: none;
}
.openbtn:hover{
    background-color: #444;
}
#main{
    transition: margin-right .5s;
    padding: 16px;
}

/* service section */
.service-pict{
    margin-right: -25px;
    margin-left: 20px;
}
.service-text h4{
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
}
.service-text p{
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 20px;
}
.service-list li{
    list-style: none;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
}
.service-list img{
    width: 24px;
    height: 24px;
    margin-left: -30px;
}

/* Why Us Section */
.why-us-title h4{
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
}
.why-us-title p{
    font-style: normal;
    font-weight: 300;
    line-height: 20px;
}
.card-deck p{
    max-width: auto;
    font-size: 14px;
}
.card-text{
    margin-top: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 20px;
}
.card img{
    margin-top: 15px;
    margin-left: 15px;
}

/* testimonial section */
.testimonial-title{
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
}
.testimonial-content{
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
}
.testimonial-carousel{
    background-color: #F1F3FF;;
    height: auto;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
}
.profile{
    width: 80px !important;
    height: 80px !important;
}
.testimonial-text {
    font-size: 14px ;
    text-align: justify;
}
.testimonial-text img {
    width: 80px !important;
    height: 16px !important;
}

/* getting started section */
.bg-banner{             
    background-color:#0D28A6;
    border-radius: 13px;
    height:min-content
}
.banner-title{
    font-style: normal;
    font-weight: bold;
    line-height: 150%;
    color: #FFFFFF;
}
.banner-text{
    font-style: normal;
    line-height: 20px;
    color: #FFFFFF;
}
.bg-banner .btn{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    border-radius: 2px;
    margin-bottom: 100px;
}

/* FAQ section */
.FAQ-title h5{
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
}
.FAQ-title p{
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
}

/* accordion section */
.accordion-item {
    margin-bottom: 16px;
    border: solid 1px #D4D4D4;
    border-radius: 4px;
}
.accordion-button .accordion-body {
    font-weight: 300;
    font-size: 14px;
}

/* footer */
.col-md-3 li{
    list-style: none;
}
.footer-list{
    font-size: 14px;
}